{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
<section class="hero is-medium" id="top">
  <main class="hero-body">
    <div class="container content-width">
      <h1 class="title">{{ page.title }}</h1>
      <p class="subtitle">{{ page.subtitle }}</p>
      <div class="level">
        <div class="level-left"><strong>{% firstof page.owner.get_full_name page.owner.username %}</strong>
        </div>
        <div class="level-right"><span>{{ page.wordcount }} mots</span>&nbsp;|&nbsp;le {{ page.first_published_at | date
          }}</div>
      </div>
    </div>
  </main>
</section>
<section class="section article">
  {% for block in self.content %}
  <div class="container content">
    {% include_block block %}
  </div>
  {% endfor %}
</section>
{% endblock %}