{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
    <section class="{% block header_class %}hero is-medium{% endblock %}" id="top">
        {% block header_pre %}{% endblock %}
        <main class="hero-body">
            {% block header_title %}{% endblock %}
        </main>
        {% block header_post %}{% endblock %}
    </section>
    <section id="main" class="section">
        <div class="container">
            {% for block in self.content %}
                {% include_block block %}
            {% endfor %}
        </div>
    </section>
{% endblock %}
