{% extends "base.html" %}

{% block body_class %}layout col-light{% endblock %}
{% block content %}
  <section class="hero layout col-light" id="top">
    <main class="text-center">
      <h1 class="glitch flicker-in margin-top" data-text="CodeAnon">CodeAnon</h1>
      <p class="fade-in-top"><a href="#down"><i class="arrow-down"></i></a></p>
    </main>
  </section>
  <section class="hero col-black back-light" id="down">
    {% for block in self.content %}
      <section class="layout">{{ block }}</section>
    {% endfor %}
  </section>
{% endblock %}
