////////////////////////////////////////////////
// LUMEN
////////////////////////////////////////////////
@import "bulma/sass/utilities/functions";

$orange: #b55400;
$green: #28b62c;
$blue: #5bb7db;
$red: #ff4136;

$primary: $orange !default;

$info-invert: #fff;

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Work+Sans:wght@400,900&display=swap');

$code-family: 'Space Mono', 'Courier New', Courier, monospace;
$family-primary: 'Work Sans', sans-serif;
$header-family: $code-family;

$thickness: 4px;

$pagination-current-border: darken($primary, 5);

$navbar-item-active-color: $primary;

$dropdown-content-shadow: 0 0 0 1px #dbdbdb, 0 #{$thickness} 0 1px #dbdbdb;

$navbar-dropdown-boxed-shadow: $dropdown-content-shadow;

$box-shadow: none;

$scheme-main: #222831;
$scheme-main-bis: darken($scheme-main, 5);
$scheme-invert: findColorInvert($scheme-main);
$scheme-invert-bis: findColorInvert($scheme-main-bis);
$text: white;
$text-strong: darken($text, 10);
$text-invert: findColorInvert($text);
$link: $orange;
$link-invert: findColorInvert($orange);
$link-hover: lighten(saturate($link, 10), 10);

$border: $scheme-main-bis;
