{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load static %}
{% block body_class %}template-blogpage{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href='{% static "blog/css/monokai.css"%}'>

<section class="hero is-medium">
  <main class="hero-body">
    <div class="container">
      <h1 class="title">{{ self.title }}</h1>
      <div class="container content">
        <h2>Author(s)</h2>
        {% for author in self.authors %}
        <p>{{ author.value.name }}(<a href="mailto: {{ author.value.email }}">{{ author.value.email }}</a>)</p>
        {% endfor %}
      </div>
      <div class="container content">
        <p class="subtitle">{{ self.intro|richtext }}</p>
      </div>
      {% for block in page.content %}
      {% if block.block_type == "code" %}
      <div class="code_block">
        {{ block.value.code }}
        {% if block.value.caption %}
        <figcaption>
          {{ block.value.caption }}
        </figcaption>
        {% endif %}
      </div>
      {% else %}
      {{ block.value }}
      {% endif %}
      {% endfor %}
    </div>
  </main>
</section>

{% endblock %}