{% load static %}
{% url "login" as login_url %}
{% url "register" as register_url %}

<header class="layout col-light">
	<nav class="navbar">
		<div href="/" class="navbar-brand">
			<a href="/" class="navbar-item">
				<img src="{% static "img/logo.svg" %}" alt="CodeAnon"/>
			</a>
			<div class="navbar-burger">
				<a role="button" class="navbar-burger burger" data-target="main-navbar" aria-label="menu"
				   aria-expanded="false">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
			</div>
		</div>
		<div class="navbar-menu is-spaced" id="main-navbar">
            <div class="navbar-item"><a href="/">Accueil</a></div>
          {% if menu %}
			<div class="navbar-start">
				{% for item in menu %}
				<div class="navbar-item"><a href="{{ item.url }}">{{ item.title }}</a></div>
				{% endfor %}
			</div>
			{% endif %}
			{% if user.is_authenticated %}
			<div class="navbar-end">
				<div class="navbar-item"><a href="{% url "logout" %}" class="underline">/logout</a></div>
				<div class="navbar-item profilebar">[<span>{{ user.username }}</span>@codeanon {{ request.path }}]$</div>
			</div>
			{% else %}
			<div class="navbar-end">
				<div class="navbar-item"><a href="{% url "login" %}" {% if request.path == login_url %}
						class="border-bottom" {% endif %}>Se connecter</a></div>
                <div class="navbar-item"><a href="{% url "register" %}" {% if request.path == register_url %}
						class="border-bottom" {% endif %}>S'enregister</a></div>
			</div>
			{% endif %}
		</div>
	</nav>
</header>
